@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    
    <Slide Id="calculator">
        <img src="css/Images/logoIMC.png" alt="Calculadora de IMC" style="width: 355px; height:355px; border-radius: 8px;"/>
        <h5 class="mb" style="color: gray">Desenvolvido por DEV_WES</h5>
        <Calculator></Calculator>
    </Slide>

    <Slide Id="history">
        <History></History>
    </Slide>
    
    <Slide Id="about">
        <h5 class="mb" style="color: gray">Desenvolvido por DEV_WES</h5>
        <a href="https://youtube.com/@@dev_wes?si=bwPvgszKX6YtsTTu" target="_blank" class="btn btn-link">Clique aqui</a>
    </Slide>

</div>


